<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">¡Ayúdanos a impulsar aún más esta causa!</h2>
      <h3 class="subtitle is-5 is-muted">Nos gustaría escuchar tu opinión o algún apoyo que estas dispuesto a darnos</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form method="POST" action="https://send.pageclip.co/SZpsbgcBiPjfpMTPs9knzmgtVoupJMqd/contact-form">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" name="name" type="text" placeholder="Nombre. Ej. Bruce Wayne">
              </div>
              <div class="column is-6">
                <input class="input is-medium" name="email" type="email" placeholder="Email. Ej. bruce@wayneenterprises.com">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" name="body" placeholder="¡Hola! Me gustaría apoyar este proyecto haciendo..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button type="submit" class="button cta is-large primary-btn raised is-clear">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
